h1{font-size:20px;
	color: LightBlue;
	}
h2{font-size:17px;
	}
h3{font-size:25px;
	color: LightBlue;
	}	
	
ul{left-margin:50px
	}		
#panel li {
  margin: 0 0 0 5px;
  padding: 0;
  list-style: none;
  }
  
body {
  font: 100.01% Verdana, Arial, Helvetica, sans-serif;
}

* {
  margin:0;
  padding:0;
}


#kopfbereich {
  padding: 20px;
  background-color:white;
  font-size: 30px;
}

#inhalt {
  background-color: white;
  margin-left: 20px;
  padding: 20px;
  width:800px;
}

#left {
  float: left;
  padding:20px;
  background-color: white;
  border:0px solid black;
}

</style>
